body, html {
	margin: 0;
	padding: 0;
  height: 100%;
}
.main-container {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.loading {
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9;
}
.loading-icon {
	font-size: 100px;
	width: 150px;
	height: 150px;
	top: calc((100% - 150px)/2);
	left: calc((100% - 150px)/2);
	position: absolute;
}

#game-container {
  background-color:red;
  width: calc(100% - 600px);
  height: 100%;
  float: left;
	overflow: scroll;
}

.chat-container {
  width: 450px;
  height: 100%;
  float: left;
	padding: 5px;
	box-sizing: border-box;

}

.player-list {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
	height: 300px;
	overflow-y: auto;
  overflow-x: hidden;
}


.player-list > li  {
  padding: 5px 2px;
}
#player-stats {
	width: 100%;
	border-spacing: 5px;
	border-collapse: separate;
}
#player-stats thead {
	background-color: #11C8EB;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.4em;
}
#player-stats td {
	padding: 5px;
}

#player-stats  tbody td{
	color: #FF8106;
	font-size: 1.1em;
}

.turn {
	background-color: red;
}
.ready {
	border-color: red;
}

#chats{
	height: calc(100% - 400px);
	overflow-y: auto;
  overflow-x: hidden;
	border: 1px solid grey;
	background-color: white;
}
#chats > ul {
	list-style: none;
	margin: 0px;
}
#chats > ul  > li {
	margin-top: 5px;
}

textarea.my-chat {
	height: 80px;
	backgorund-color: blue;
	margin-top: 3px;
	width: 235px;
	resize: none;
}

.chat-name {
	display: table-cell;
	font-weight: bold;
	vertical-align: top;
}
.chat-message {
	display: table-cell;
	width: 175px;
	word-break: break-word;
}
.message {
	display: inline-block;
	width: 150px;
	padding-left: 5px;
	box-sizing: border-box;
	border: 1px solid blue;
}
.triangle::before {
	content: "";
	float: left;
	  width: 0px;
	  height: 0px;
	  display: inline-block;
	  border-top: 10px solid transparent;
	  border-bottom: 10px solid transparent;
	  border-right: 10px solid blue;
}

.player-stats {
	width: 580px;
	height: 300px;
	background-color: red;
}

.player {
	width: 24%;
	height: 100%;
	margin-left: 5px;
	background-color: blue;
	float: left;
	text-align: center;
}

.cam {
	width: 90%;
}
